<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>
            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Swagger Resource <span class="status"></span> </div>
                </div>
                <div id="resources_nav" />
            </div>
        </div>
    </div>
</div>
<div class='container' id='resources_container'>
  <ul id='resources' class="samples-collapsed"></ul>

  <div class="footer">
    <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{{escape basePath}}}
    {{#if info.version}}
  , <span style="font-variant: small-caps" data-sw-translate>api version</span>: {{{escape info.version}}}
    {{/if}}]
    {{#if validatorUrl}}
    <span style="float:right"><a target="_blank" href="{{{escape validatorUrl}}}/debug?url={{{escape url}}}"><img id="validator" src="{{{escape validatorUrl}}}?url={{{escape url}}}"></a>
    </span>
    {{/if}}
    </h4>
    </div>
</div>
