  <ul class='operations' >
    <li class='{{{escape method}}} operation' id='{{{escape parentId}}}_{{{escape nickname}}}'>
      <div class='content'>
      <div class='heading'>
      <h2 class='operation-title'>{{{escape summary}}}</h2>
        <h3>
          <span class='http_method'>
          <a href='#!/{{sanitize encodedParentId}}/{{sanitize nickname}}' class="toggleOperation">{{{escape method}}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{sanitize encodedParentId}}/{{sanitize nickname}}' class="toggleOperation {{#if deprecated}}deprecated{{/if}}">{{{escape path}}}</a>
          </span>
        </h3>
      </div>

      <a href="javascript:;" class="toggle-samples" data-toggle="tooltip" data-placement="left" data-original-title title>
        <span class="text">Show Sample</span><span class="circle-icon"></span>
      </a>

        {{#if deprecated}}
            <h4><span data-sw-translate>Warning: Deprecated</span></h4>
        {{/if}}
        {{#if description}}
        <h4><span data-sw-translate>Implementation Notes</span></h4>
        <div class="markdown action-summary">{{{sanitize description}}}</div>
        {{/if}}
        {{#if security}}
            <div class='authorize-wrapper authorize-wrapper_operation'></div>
        {{/if}}
        
        <form accept-charset="UTF-8" class="sandbox">
        {{#if parameters}}
            <h4 class="swagger-expand" data-control data-parm-toggle data-toggle="collapse" data-target="#parm-{{{escape parentId}}}_{{{escape nickname}}}">
                Parameters
            </h4>
            <div data-content class="operation-params collapse" id="parm-{{{escape parentId}}}_{{{escape nickname}}}"></div>
        {{/if}}
        <h4 data-control data-toggle='collapse' data-target='#test-{{{escape parentId}}}_{{{escape nickname}}}'>Test this endpoint</h4>
<div class="heading">
        <h3>
          <span class='http_method'>
          <a href='#!/{{sanitize encodedParentId}}/{{sanitize nickname}}' class="toggleOperation">{{{escape method}}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{sanitize encodedParentId}}/{{sanitize nickname}}' class="toggleOperation {{#if deprecated}}deprecated{{/if}}">{{{escape path}}}</a>
          </span>
        </h3>
</div>

        <div id='test-{{{escape parentId}}}_{{{escape nickname}}}'>
            <div class="sandbox_header" data-content>
                <input class="submit btn btn-primary" name="commit" type="submit" value="Try it out" data-target='#get_clients-modal-request'>
                <a href="#" class="response_hider hide" style="display:inline">Hide Response</a>
            </div>
        </div>

                {{#if responseMessages}}
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4 data-control data-toggle="collapse" data-target="#response-{{parentId}}_{{nickname}}">
                        Response Messages
                    </h4>

                    <div data-content class="responses-wrapper collapse in" id="response-{{parentId}}_{{nickname}}">
                        <table class="fullwidth">
                            <tbody class="operation-status">
                            </tbody>
                        </table>
                    </div>
                {{/if}}
            </form>

        </div>
        <div class="samples">
            <span class="model-signature">
            </span>
        </div>
        <div class='response' style='display:none'>
          <h4 class='curl'>Curl</h4>
          <div class='block curl'></div>
          <h4 data-sw-translate>Request URL</h4>
          <div class='block request_url'></div>
          {{#if showRequestHeaders}}
          <h4 data-sw-translate>Request Headers</h4>
          <div class='block request_headers'></div>
          {{/if}}
          <h4 data-sw-translate>Response Body</h4>
          <div class='block response_body'></div>
          <h4 data-sw-translate>Response Code</h4>
          <div class='block response_code'></div>
          <h4 data-sw-translate>Response Headers</h4>
          <div class='block response_headers'></div>
        </div>
    </li>
  </ul>
