<div class="param-property hide">{{escape name}}</div>
<div class="param-property" data-label='{{escape name}}'>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{{escape name}}}' id='{{{escape valueId}}}'/>
			<div class="parameter-content-type" />
		{{else}}
			{{#if default}}
				<div class="editor_holder"></div>
				<textarea class='body-textarea' name='{{{escape name}}}' id='{{{escape valueId}}}' data-toggle="tooltip" data-placement="top" title="" data-original-title='{{{escape name}}}'>{{{escape default}}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea' name='{{{escape name}}}' id='{{{escape valueId}}}' data-toggle="tooltip" data-placement="top" title="" data-original-title='{{{escape name}}}'></textarea>
				<div class="editor_holder"></div>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
            <label class="btn btn-primary" for=[{{{escape valueId}}}>
			    <input type="file" name='{{{escape name}}}' id='{{{escape valueId}}}' style="display:none;"/>
                Choose File
            </label>
			<div class="parameter-content-type" />
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}

        <div class="small-description">
            {{#if type}}
                <code class="code-signature">{{{escape type}}}</code>
            {{/if}}
            <div class="markdown">{{{escape description}}}</div>
        </div>
