<h4 class="sample-title" data-control data-toggle="collapse" data-target="#sample-{{{escape id}}}">{{{sanitize type}}} Sample</h4>
<div data-content class="collapse in" id="sample-{{{escape id}}}">
    <div class="snippet">
        <pre><code>{{{escape sampleJSON}}}</code></pre>
    </div>
</div>

{{#if signature}}
<h4 class="schema-title collapsed" data-control data-toggle="collapse" data-target="#schema-{{{escape id}}}">{{{sanitize type}}} Schema</h4>
<div data-content class="collapse" id="schema-{{{escape id}}}">
    <div class="description">
        {{{escape signature}}}
    </div>
</div>
{{/if}}
