<td width='20px'><strong>{{{escape code}}}</strong></td>
<td class="markdown">{{{escape message}}}</td>
<td class="headers">
  <table>
    <tbody>
      {{#each headers}}
      <tr>
        <td>{{@key}}</td>
        <td>{{{sanitize this.description}}}</td>
        <td>{{{escape this.type}}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</td>
